<div class="about">
    <h1 class="welcome">Welcome to {{ title }}</h1>
    <p class="lead">This is very simple, here you can find everything you need to get to your next success story.</p>
    <hr>

    <div class="container">
        <img class="image" src="../../../assets/images/job.jpg">
        <div class="text">
            <p>We are a group of people with a simple goal to help QuickLink users grow their companies by building awesome teams or to find their dream jobs. Internally, our goal has always been to build a diversified team with people from different backgrounds,
                personalities, hobbies, interests, professions and skills. We believe that we are where we are today because of our team.
            </p>
            <p>Our mission is to simplify a job advertisement for an open job position. The purpose of a job posting is to inform potential job candidates about a new opening and attract them to apply.
            </p>
        </div>

    </div>

</div>