* {
    margin: 0;
    padding: 0;
}

.about {
    margin: 100px auto;
}

.welcome {
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
}

.lead {
    padding: 50px;
    font-size: 2em;
}

.container {
    padding: 10px;
    margin-left: 20px;
}

.image {
    width: 300px;
    height: 300px;
    margin: 30px 30px 30px 0;
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}