div.card {
    padding: 40px;
    width: 50%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px auto;
}

button {
    margin-top: 10px;
}

.warning {
    color: rgb(12, 8, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(241, 39, 12);
    text-align: justify;
    padding-left: 10px;
}

.green-light {
    color: rgb(12, 8, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(59, 236, 103);
    text-align: justify;
    padding-left: 10px;
}

.card-header {
    background-color: rgb(131, 131, 136);
}


/* set break point */

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    div.card {
        width: 100%;
        box-shadow: none;
        border: none;
    }
}