<!-- <p>navbar works!</p> -->
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="">{{ title }}</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="">Profile</a>
            </li>
            
        </ul>
    </div>
</nav>