<!-- show only when user didn't setup info -->
<div class="incomplete" *ngIf="!employee.firstName; else info">
    <a routerLink="submit-profile"><strong>Please, complete your profile</strong></a>
</div>

<!-- show only when user setup info already -->

<ng-template #info>
    <div class="card">

        <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
        <h3>Email: <i>{{ employee.email }}</i></h3>
        <h3>Phone: <i>{{ employee.phone }}</i></h3>
        <h3>Address: <i>{{ employee.address }}</i></h3>

    </div>

</ng-template>

<!-- display all job postings -->