<div class="container bg">
    <div class="back" (click)="goback()"></div>
    <h2 class="font-italic text-primary text-capitalize">{{post[0].title }}</h2>
    <p><span class="font-weight-bold">compan name: </span>{{post[0].companyName}}</p>
    <p><span class="font-weight-bold">category: </span>{{post[0].category}}</p>
    <p><span class="font-weight-bold">location: </span>{{post[0].location}}</p>
    <p><span class="font-weight-bold">salary: </span>${{post[0].salary}}/year</p>
    <p><span class="font-weight-bold">phone number: </span>{{post[0].phoneNumber}}</p>
    <p><span class="font-weight-bold">description: </span>{{post[0].description}}</p>
</div>