.bg {
    background-color: rgb(213, 224, 224);
    border: 1px solid rgb(173, 169, 169);
    margin-top: 20px;
    width: 50%;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.back {
    width: 100px;
    height: 30px;
    border: none;
    background-image: url("../../../assets/images/backBtn.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}